[submodule "submodule/doctest"]
	path = submodule/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "submodule/fmt"]
	path = submodule/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodule/ut"]
	path = submodule/ut
	url = https://github.com/boost-ext/ut
