# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

projects/sentifer_memnager/.vs/

projects/sentifer_memnager/x64/

projects/sentifer_memnager/example/x64/

projects/sentifer_memnager/Debug/

projects/sentifer_memnager/example/Debug/

projects/sentifer_memnager/packages/

projects/sentifer_multi_thread_base/.vs/
